<body>
  <div>
    <img
      class="banner"
      src="../../assets/img/QuickmanHomeAnimation.gif"
      alt=""
    />
  </div>
  <div class="welcome">
    <h1>Willkommen bei Quickman!</h1>
    <h2>Du fragst dich vielleicht - was genau ist "Quickman"?</h2>
    <p>
      Quickman ist eine Management App, die dir helfen soll, alle Dinge für
      Jungunternehmer zu strukturieren und zu orden. <br />
      Es können viele Dinge anfallen und diese App hilft dir dabei, den
      Überblick zu behalten. <br /><br />
      Es gibt ein eigenes Ticketsystem, welches dir und deinen Mitarbeitern
      hilft, Struktur in euer Unternehmen zu bringen.
    </p>
  </div>
</body>
