<header>
    <div>
        <img class="logo" src="../../assets/img/QuickmanLogoRed.png" alt="">
    </div>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Kalender</a></li>
            <li><a href="">Tickets</a></li>
            <li><a href="">GitHub</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Registrieren</a></li>
            <li><a href="">Kontakt</a></li>
            <li><a href="">Impressum</a></li>
        </ul>
    </nav>
</header>