footer {
    color: white;
    text-align: center;
    background-color: #333;
<<<<<<< HEAD
=======
}

a {
    color: orangered;
    text-decoration: none;
}

a:hover {
    color: darkorange;
>>>>>>> 550760ae34bf12b30d2061dfa3eeb940e6741499
}